In [9]:
import pandas as pd

ml_1m_file_name = './ml-1m/ml-1m.inter'
out_ml_1m_file_name = './ml-1m/ml-1m.csv'

df = pd.read_csv(ml_1m_file_name, sep='\t')

In [ ]:
df = df.rename(columns={
    'user_id:token':'user_id',
    'item_id:token':'item_id'
    })
df[['user_id', 'item_id']].to_csv(out_ml_1m_file_name, index=False)

In [44]:
import pandas as pd
from enum import Enum


class Dataset:

    class Name(Enum):

        ml_100k = 'ml_100k'
        ml_1m = 'ml_1m'
        Gowalla = 'Gowalla'
        Yelp = 'Yelp'
        Amazon_Books = 'Amazon_Books'

    def __init__(self, dataset_name):
        self.dataset_name = self.Name(dataset_name).name

    def __str__(self):
        return self.dataset_name

    def __repr__(self):
        return self.dataset_name

    def __call__(self):
        return self.get_df()

    def get_df(self) -> pd.DataFrame:
        if self.dataset_name == self.Name.ml_1m.name:
            return pd.read_csv('../dataset/ml-1m/ml-1m.csv')
        raise ValueError()


df = Dataset('ml_1m')()
df

         user_id  item_id
0              1     1193
1              1      661
2              1      914
3              1     3408
4              1     2355
...          ...      ...
1000204     6040     1091
1000205     6040     1094
1000206     6040      562
1000207     6040     1096
1000208     6040     1097

[1000209 rows x 2 columns]