## top template

### github
- jupyter notebook形式のファイルは[こちら](https://github.com/hiroshi0530/wa-src/blob/master/article/library/scipy/template/template_nb.ipynb)

### google colaboratory
- google colaboratory で実行する場合は[こちら](https://colab.research.google.com/github/hiroshi0530/wa-src/blob/master/article/library/scipy/template/template_nb.ipynb)

### 筆者の環境
筆者のOSはmacOSです。LinuxやUnixのコマンドとはオプションが異なります。

In [ ]:
!sw_vers

In [ ]:
!python -V

基本的なライブラリをインポートしそのバージョンを確認しておきます。

In [ ]:
%matplotlib inline
%config InlineBackend.figure_format = 'svg'

import matplotlib
import matplotlib.pyplot as plt
import scipy
import numpy as np

print('matplotlib version :', matplotlib.__version__)
print('scipy version :', scipy.__version__)
print('numpy version :', np.__version__)

In [1]:
import sqlite3

In [2]:
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = True
%load_ext sql

In [3]:
import os

if os.path.exists("data.db"):
    os.system("rm data.db")
os.system("touch data.db")

!chmod 664 data.db

In [4]:
%sql sqlite:///data.db

In [5]:
%%sql

create table ProductCode (
    商品番号 INTEGER PRIMARY KEY AUTOINCREMENT,
    商品名 TEXT 
);

 * sqlite:///data.db
Done.

Empty DataFrame
Columns: []
Index: []

In [6]:
%%sql

insert into ProductCode(商品名) values('ノート'); 
insert into ProductCode(商品名) values('鉛筆'); 
insert into ProductCode(商品名) values('赤鉛筆'); 
insert into ProductCode(商品名) values('ボールペン'); 
insert into ProductCode(商品名) values('シャープペンシル'); 
insert into ProductCode(商品名) values('消しゴム');

 * sqlite:///data.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

Empty DataFrame
Columns: []
Index: []

In [7]:
%%sql
select * from ProductCode;

 * sqlite:///data.db
Done.

   商品番号       商品名
0     1       ノート
1     2        鉛筆
2     3       赤鉛筆
3     4     ボールペン
4     5  シャープペンシル
5     6      消しゴム