## pandasでgroupby後にfilterをかける

pandas利用中にgroupby後にある条件を適用したい場面に遭遇した。
調べてみると、`groupby.filter(lambda x: x)`でfilter関数を適用できる事がわかった。

### github
- githubのjupyter notebook形式のファイルは[こちら](https://github.com/hiroshi0530/wa-src/blob/master/article/library/python/020/020_nb.ipynb)

### google colaboratory
- google colaboratory で実行する場合は[こちら](https://colab.research.google.com/github/hiroshi0530/wa-src/blob/master/article/library/python/020/020_nb.ipynb)

### 実行環境

In [1]:
!sw_vers

ProductName:		macOS
ProductVersion:		13.5.1
BuildVersion:		22G90

In [2]:
!python -V

Python 3.11.4

## 適当なDataFrameを作成

In [9]:
import pandas as pd

df = pd.DataFrame(
    {
        "user": ["A", "A", "A", "B", "C", "A", "C"],
        "number": [1, 2, 1, 2, 3, 1, 1],
    }
)

df

     item  sales
0       A      1
1       A      2
2       A      1
3  orange      2
4   melon      3
5   apple      1
6  orange      1

このDataFrameから、例えば、itemのカウントが2個以上の項目だけgroupbyしたいという機会があった。
これは以下の様に、groupbyの後にfilterとlambdaを利用する事で実現できる。

In [4]:
df.groupby("item").filter(lambda x: x["sales"].count() >= 2)

     item  sales
0   apple      1
1   apple      2
2   apple      1
3  orange      2
5   apple      1
6  orange      1

In [5]:
df.groupby("item").filter(lambda x: x["sales"].max() >= 3)

    item  sales
4  melon      3

In [6]:
df.groupby("item").filter(lambda x: x["sales"].min() <= 2)

     item  sales
0   apple      1
1   apple      2
2   apple      1
3  orange      2
5   apple      1
6  orange      1

今までは余計なDataFrameを作成していたので、今後はワンライナーで実行するようにする。